<!DOCTYPE html>
<html>
<head>
    <div id="message"></div>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Log-in.css">
    <script defer src="https://use.fontawesome.com/releases/v6.2.1/js/all.js"></script>
  <title>Blood Types Table</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
      font-size: 18px;
      text-align: center;
    }

    th, td {
      padding: 12px;
      border: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }
  </style>
</head>
<body>
    <nav class="navbar">
        <div class="navlinks">
            <ul>
                <li><a href="Home1.html">Home</a></li>
            </ul>
        </div>
    </nav>
  <table>
    <thead>
      <tr>
        <th>Blood Type</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>A+</td>
        <td>100</td>
      </tr>
      <tr>
        <td>A-</td>
        <td>50</td>
      </tr>
      <tr>
        <td>B+</td>
        <td>75</td>
      </tr>
      <tr>
        <td>B-</td>
        <td>25</td>
      </tr>
      <tr>
        <td>AB+</td>
        <td>125</td>
      </tr>
      <tr>
        <td>AB-</td>
        <td>15</td>
      </tr>
      <tr>
        <td>O+</td>
        <td>200</td>
      </tr>
      <tr>
        <td>O-</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
