<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Log-in.css">
    <script defer src="https://use.fontawesome.com/releases/v6.2.1/js/all.js"></script>
    <title>Customer Register</title>
</head>

<body>
    <nav class="navbar">
        <div class="navlinks">
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="Log-In.html">Log In</a></li>
            </ul>
        </div>
    </nav>

    <div class="login-block">
        <h1><i> Sign Up As Customer</i></h1>
        <form action="/Sign-Up" method="POST">
            <select name="Gender" id="id">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
            <select name="Age" id="id">
            <option value="under 18">under  18</option>
            <option value="older than 18">older than 18</option>
        </select>
            <input name="id" type="text" placeholder="ID" maxlength="9" />
            <input name="FirstName" type="text" placeholder="First Name" />
            <input name="LastName" type="text" placeholder="Last Name" />
            <input name="Phone" type="tel" placeholder="Phone" maxlength="10" />
            <input name="password" type="password" placeholder="Password" id="passw" minlength="8" maxlength="15" />
            <input name="email" type="email" placeholder="Email" />
            <input name="Roll" type="text" placeholder="Roll" value="customer"/>

            <button type="submit">Register</button>

            <!--<input name="age" type="number"  placeholder="age"/
     
    <input name="birthdate" type="date"  placeholder="age"/>
    !-->


        </form>
    </div>
</body>

</html>