<!DOCTYPE html>
<html lang="en">

<head>
    <div id="message"></div>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Log-in.css">
    <script defer src="https://use.fontawesome.com/releases/v6.2.1/js/all.js"></script>
    <title>Error</title>
</head>

<body>
    <nav class="navbar">
        <div class="navlinks">
            <ul>
                <li><a href="Home1.html">Home</a></li>
            </ul>
        </div>
    </nav>
    <div class="login-block">
        <h1 style="color: green;"><i>Success</i></h1>
        <form action="/SuggestedBlood" method="POST">
            <li>The process has been done successfully, please back to home page</li>

        </form>
    </div>
</body>

</html>