<!DOCTYPE html>
<html lang="en">

<head>
    <title>volunteer-detail</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th,
        td {
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #f2f2f2
        }
        
        th {
            background-color: rgb(235, 85, 85);
            color: white;
        }
        p{
            font-style:inherit;
        }
    </style>
    <link rel="icon" href="images/favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Employees.css">

</head>

<body>

    <nav class="navbar">
        <div class="navlinks">
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="profile-cos.html">Customer Profile</a></li>
            </ul>

        </div>

    </nav>


    <table id="PatientqueueTable" class="container">


        <thead>
            <tr>
                <th>
                    <h1>Date</h1>
                </th>
                <th>
                    <h1>Hours</h1>
                </th>
                <th>
                    <h1>aboutmeet</h1>
                </th>
              

            </tr>

        </thead>

        <tbody>

            <%p.forEach(user=>{ %>
               
                    <tr>
                        <td>
                            <p>

                                <%= user.date %>
                            </p>
                        </td>
                        
                        <td>
                            <p>
                                <%= user.hours %>
                            </p>
                        </td>

                        <td>
                            <p>
                                <%= user.aboutmeet %>
                            </p>
                        </td>
                    

                    </tr>
                    
                        <%})%>

        </tbody>

    </table>

</body>

</html>